/* AboutUs.css */

.about-us-container {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.about-us-container h3 {
  color: #0659a6;
  font-size: 28px;
  font-weight: 600;
  margin: 30px;
}

.fir {
  margin-top: 20px;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.fir p {
  line-height: 1.5;
}

.highlighted-text {
  color: #0056b3;
  font-weight: 700;
}

img {
  border-radius: 8px;
  max-width: 100%;
}

.features-section {
  margin-bottom: 40px;
}

.features-section h3 {
  text-align: center;
  font-size: 1.8em;
  color: #181313e3;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 0 auto;
  width: 95%;
}

.feature-block {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.feature-block:hover {
  transform: scale(1.05);
}

.feature-block h3 {
  color: #0056b3;
  font-size: 1.4em;
  text-align: center;
  margin: 20px 10px;
}

.feature-block p {
  font-size: 1em;
  color: #333;
  text-align: center;
  line-height: 1.5;
}

.why-choose-us {
  margin: 35px 20px;
}

.chose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  flex-direction: row;
  padding: 10px;
  margin: 0 auto;
}

.why-choose-us h3 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #181313e3;
}

.why-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.why-list li {
  font-size: 1.1em;
  margin-bottom: 15px;
  padding: 12px;
  background: #f9f9f9;
  border-left: 4px solid #0659a6;
  border-radius: 5px;
  line-height: 1.6;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.image-section img {
  max-width: 100%;

}

/* Responsive Design */
@media (max-width: 768px) {
  .fir {
    flex-direction: column;
    gap: 20px;
  }

  .chose {
    flex-direction: column;
    text-align: justify;
  }

  .features-section h3,
  .why-choose-us h3 {
    font-size: 1.5em;
  }

  .feature-block h3 {
    font-size: 1.2em;
  }

  .feature-block p,
  .why-list li {
    font-size: 0.95em;
  }

  .why-list li {
    font-size: 1em;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .about-us-container h3 {
    font-size: 1.5em;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .feature-block h3 {
    font-size: 1em;
  }

  .feature-block p {
    font-size: 0.9em;
  }

  .why-choose-us h3 {
    font-size: 1.4em;
  }

  .why-list li {
    font-size: 0.95em;
    padding: 8px;
  }

  .image-section img {
    width: 90%;
  }
}