.gather {
    margin: 50px 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 250px;
  }
  
  .gather .left {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
  }
  
  .right {
    display: flex;
    align-items: center;
    width: 60%;
    flex-direction: column;
    gap: 20px;
  }
  
  h3 {
    color: #0659A6;
    font-size: 25px;
    font-weight: 600;
  }
  
  .fillup {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  input {
    width: 550px;
    height: 55px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    background-color: #f0f0f0;
  }
  
  input::placeholder {
    color: #b1b1b1;
  }
  
  .down {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
  }
  
  .log a {
    color: #e7e737;
    font-size: 18px;
    font-weight: 500;
  }
  
  .signup-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #0659a6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
  }
  
  .signup-button:hover {
    transform: scale(1.05);
  }
  
  .loader-container,
  .success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Media Queries for Responsiveness */
  
  @media (max-width: 1024px) {
    .gather {
      flex-direction: column;
      gap: 50px;
      margin: 20px;
    }
  
    .left img {
      width: 40%;
    }
  
    .right {
      gap: 15px;
    }
  
    input {
      width: 100%;
      max-width: 550px;
    }
  }
  
  @media (max-width: 768px) {
    .gather {
      margin: 10px;
      gap: 30px;
    }
  
    h3 {
      font-size: 22px;
    }
  
    input { 
      width: 100%;
      max-width: 550px;
      font-size: 1rem;
    }
  
    .signup-button {
      font-size: 16px;
    }
  
    .down p,
    .log a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    h3 {
      font-size: 20px;
    }
  
    input {
      width: 100%;
      font-size: 0.8rem;
      height: 50px;
    }
  
    .signup-button {
      font-size: 15px;
      padding: 8px 16px;
    }
  
    .left img {
      width: 30%;
      margin-top: 10px;
    }
  
    .down p,
    .log a {
      font-size: 15px;
    }
  }
  .password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Adjust padding for icon space */
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px; /* Position the icon inside the input field */
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .password-container input {
    padding-right: 30px; /* Adjust for smaller screens */
  }
  .toggle-password {
    right: 8px; /* Adjust for smaller screens */
  }
}
