.results-table {
  width: 30vw;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.results-table th,
.results-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results-table th {
  background-color: #0659a6;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}
