footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  margin-top: 20px;
  width: 100vw;
  background-color: #f9f9f9;
}

.footer-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  max-width: 1200px; /* Limit max width to make it neat on larger screens */
  padding-top: 20px;
  margin: 20px;
}

.footer-logo {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  flex: 1; /* Allow it to expand naturally */
}

.footer-logo p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-align: justify;
  line-height: 1.6; /* Improves readability */
}

.footer-links,
.usefullink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links ul,
.usefullink ul {
  list-style: none;
  padding: 0;
}

.footer-links p,
.usefullink p {
  font-weight: 600;
  color: #0659a6;
  margin-bottom: 20px;
}

li {
  list-style: none;
  line-height: 2;
}

li a {
  text-decoration: none;
  color: #0659a6;
  font-size: 14px;
  transition: color 0.3s;
}

li a:hover {
  color: #000; /* Color change on hover for better UX */
}

.connect {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin-top: 50px;
}

.footer-contact {
  font-size: 14px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.footer-social a:hover img {
  transform: scale(1.1); /* Adds a hover effect for better interaction */
}

.footer-copyright {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
 
}
.footer-copyright .space{
  height: 2px;
  width: 30vw;
  background-color: #639dd3;
  
}
.footer-copyright p {
  font-size: 14px;
  font-weight: 500;
}
.footer-copyright p strong{
  color: #0659a6;
}