.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 70px 50px;
  background-image: url(../../assets/homebackpic.png);
  background-repeat: no-repeat;
}

h3 {
  color: #0659a6;
  font: 40px;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.form-group {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.contact-input,
.contact-textarea {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  background-color: #f0f0f0;
  font-size: 1rem;
}

.contact-submit {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #0659a6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
}

.contact-submit:hover {
  transform: scale(1.05);
}